@model IEnumerable<BeaversHockeyPortal.Models.PlayerViewModels>
@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

@if (this.User.IsInRole(Utilities.Constants.MANAGER_ROLE) || this.User.IsInRole(Utilities.Constants.ADMIN_ROLE))
{
    <p>
        @Html.ActionLink("Create New Player Registration", "CreatePlayerRegistration")
    </p>
}

@foreach (var player in Model)
{
    <div class="row">
        <div class="panel-title">             @player.FullName</div>
        <div class="col-md-4">
            @if (player.PositionId == (int)DataModel.Enums.PlayerPositionEnum.Goalie)
                {
                <img src="~/Images/goalie.png" class="img-thumbnail" />
            }
            else
            {
                <img src="~/Images/player.jpg" class="img-thumbnail" />
            }
        </div>
        <div class="col-md-8">
            @if (this.User.IsInRole(Utilities.Constants.MANAGER_ROLE) || this.User.IsInRole(Utilities.Constants.ADMIN_ROLE))
            {
                <div style="margin-bottom: 5px;">
                    <div class="col-md-8 text-primary">USERNAME: @player.Username</div>
                    <div class="col-md-8 text-primary">EMAIL: @player.Email</div>
                    <br />
                    <div class="col-md-8">Status: @player.Status</div>
                </div>
            }
            <div class="col-md-8">First Name: @player.FirstName</div>
            <div class="col-md-8">Last Name: @player.LastName</div>
            <div class="col-md-8">Position: @player.Position</div>
            <div class="col-md-8">Manager: @player.Manageer</div>
            <div class="col-md-8">Team: @player.Team</div>
        </div>
    </div>
}

