@model IEnumerable<BeaversHockeyPortal.Models.GameListViewModel>

@{
    ViewBag.Title = "Confirm Game";
}

<h2>Confirm Game</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheirTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheirTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConfirmed)
        </td>
        <td>
            @Html.ActionLink("Confirm Game", "ConfirmGame", new { id = item.Id }) |
            @Html.ActionLink("UnConfirm Game", "UnConfirmGame", new { id = item.Id }) |
        </td>
    </tr>
}

</table>
