@model IEnumerable<BeaversHockeyPortal.Models.ListTeamViewModel>

@{
    ViewBag.Title = "Teams";
}

<h1>Teams</h1>

@foreach (var team in Model)
{
    <div class="row list-group-item">
        <div class="list-group-item-heading">@team.Name</div>
        <div class="col-md-4">
            @{string url = "/Images/defaultTeam.png";            }

            @if (!string.IsNullOrEmpty(@team.ImageUrl))
            {
                url = @team.ImageUrl;
            }
            <img src=@url class="img-thumbnail" />

        </div>
        <div class="col-md-8 list-group-item-text">
            <div class="col-md-8">Team Name: @team.Name</div>
            <div class="col-md-8">Manager: @team.ManagerFullName</div>
        </div>
    </div>
                }
