<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <header class="container">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-chevron-down">
                    </span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav">@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Player Portal <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Players", "Players", "Player")
                                </li>
                                <li>
                                    @Html.ActionLink("Confirm Next Games", "ConfirmGames", "Player")
                                </li>
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole(Utilities.Constants.MANAGER_ROLE))
                    {
                        <li class="nav">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manager Portal <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Teams", "Teams", "Team")
                                </li>
                                <li>
                                    @Html.ActionLink("Games", "Games", "Game")
                                </li>
                                <li>
                                    @Html.ActionLink("Email Templates", "Templates", "Email")
                                </li>
                                <li>
                                    @Html.ActionLink("Email Events", "Events", "EmailEvent")
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>


    <div class="container body-content">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            @if (ViewBag.BreadCrumbs != null)
            {
                foreach (BeaversHockeyPortal.Models.BreadcrumbsDescription item in ViewBag.BreadCrumbs)
                {
                    var liClass = item.IsActive ? "active" : string.Empty;

                    <li class="@liClass">
                        @if (string.IsNullOrWhiteSpace(item.Href))
                        {
                            @item.Name;
                        }
                        else
                        {
                            <a href="@item.Href">@item.Name</a>
                        }
                    </li>
                }
            }
        </ol>

        <div class="page-header">
            @if (@ViewBag.PageHeader != null)
            {
                <h1>@ViewBag.PageHeader</h1>
            }
            @if (@ViewBag.PageHeaderDescription != null)
            {
                <p class="text-warning">@ViewBag.PageHeaderDescription</p>
            }
        </div>

        @RenderBody()
        <hr />
    </div>
    <footer class="container">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <p class="panel-footer">&copy; @DateTime.Now.Year - Beavers Hockey Portal</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
